body {
    padding: 0;
    margin: 0;
    background-color: #fefefe;
    font-family: Arial, sans-serif;
}

body > div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    overflow: auto;
}

a {
    text-decoration: none;
    color: hotpink;
}

main {
    padding: 0;
    margin: 0;
}
